/**
 * Feuille de style personnalisée
 ============================================ */
 @font-face {
    font-family: 'oxygen_monoregular';
    src: url('oxygenmono-regular-webfont.woff2') format('woff2'),
         url('oxygenmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}


@font-face {
    font-family: 'oxygenbold';
    src: url('oxygen-bold-webfont.woff2') format('woff2'),
         url('oxygen-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'oxygenlight';
    src: url('oxygen-light-webfont.woff2') format('woff2'),
         url('oxygen-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'oxygenregular';
    src: url('oxygen-regular-webfont.woff2') format('woff2'),
         url('oxygen-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1{
    font-family: 'oxygenbold';
    color: black;
} 
p{
    font-family:'oxygenlight' ;
}

h2{
    text-decoration: underline;
    font-family: 'oxygenregular';
    color: black;} 
a{
    text-decoration: none;
    font-family: 'oxygenbold';
    color:#ba1159
}

a:hover{
    color: #ba1159
}
 
 .btn-primary{
     background-color: black;
     color: white;
 }
 .btn-primary:hover{
     background-color:#ba1159 ;
 }

 .btn-secondary{
    background-color: #ba1159;
    color: white;
}
.btn-secondary:hover{
    background-color: black;
}
 .site-navigation .nav-item .nav-link{
     color : #ba1159;
 }

 .site-footer {
    background: rgb(235, 233, 233);

}
.logo_footer{
    width: 200px;
}

.site-footer a, .site-footer li a, .site-footer p, .site-footer h5{
    color: black;
}
 .logo2{
    height: 10vh;
    width: 150px;
 }


.site-navigation .navbar-brand img {
    max-width: 300px;
}



.site-navigation .nav-item .nav-link {
    font-family: 'oxygenbold';
}

.site-navigation .nav-item .nav-link:hover {
    color: black;
}

img[alt="moodboard"]{
   height: 350px;
    }

img[alt="logo"]{
width: 200px;
}

img[alt="idv"]{
    width: 500px;
}

img[alt="mockup"]{
    width: 350px;
}

img[alt="facebook"]{
    width: 350px;
}

img[alt="wireframe"]{
    width: 350px;
}

img[alt="site"]{
    width: 350px;
}

img[alt="campagne"]{
    width: 550px;
    border : 0.5px rgb(189, 188, 188) solid
}

img[alt="chouette"]{
    width: 350px;
}

img[alt="renard"]{
    width: 350px;
}
h2{
    font-size: 20px;
    margin: 0 auto;
}
.site-project-item-thumb img{
    height: 50vh;
    margin-bottom: 200px;
}

.site-project-header-content h1 span{
    color :  #ba1159;
}